%ul
  %li
    %span.departure 20:08
    %span.type Intercity
    %span.destination Heerlen/Maastricht
    %span.arrival_time On Time
  %li.late
    %span.departure 20:23
    %span.type Intercity
    %span.destination Nijmegen
    %span.arrival_time +5 min
